<div class="header">
	<div class="logo">
		<a routerLink="/">Learning Notes</a>
	</div>
	<div class="container">
		<div class="menu">
			<ul nz-menu [nzMode]="'horizontal'">
				<li nz-submenu>
					<span title><i nz-icon type="appstore"></i> Category</span>
					<ul>
						<li nz-menu-item (click)="setCategory(c)" [nzSelected]="selectedCategory.name == c.name"
							*ngFor="let c of categories">
							{{c.name}}
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="user">
		<nz-dropdown [nzPlacement]="'bottomRight'">
			<a nz-dropdown class="avatar" routerLink="/user">
				<nz-badge [nzCount]="messageCount" [nzOverflowCount]="99">
					<nz-avatar [nzSrc]="avatarUrl | async" [nzSize]="38"></nz-avatar>
				</nz-badge>
				<i nz-icon type="caret-down"></i>
			</a>
			<ul nz-menu class="avatar-dropdown" nzSelectable>
				<li nz-menu-item>
					<a routerLink="/user"><fa-icon icon="user"></fa-icon>My Page</a>
				</li>
				<li nz-menu-item>
					<a (click)="logoutUser()"><fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>Logout</a>
				</li>
			</ul>
		</nz-dropdown>
	</div>
</div>