@import "../../variables.scss";

.header {
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
}

.logo {
    color: #ea6f5a;
    font-size: 20px;
    font-weight: 600;
    font-family: serif;
    position: absolute;
    left: 15px;
    top: 15px;
}

.user {
    float: right;
    height: 100%;

    >div {
        height: 100%;
        width: 100%;
    }

    .avatar {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        margin: 3px 24px 3px 16px;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: -14px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #999;
        }

        img {
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 50px;
        }
    }

    .dropdown-menu {
        left: auto;
        right: 5px;

        a {
            cursor: pointer;
            padding: 10px 20px;
            line-height: 40px;

            fa-icon {
                color: $orange;
                margin-right: 15px;
            }
        }
    }
}

.open>.dropdown-menu {
    display: block;
}