<div class="container">
	<div style="padding-top: 30px;">
		<div nz-row [nzGutter]="30" class="note-container">
			<div *ngFor="let note of notes" nz-col [nzSpan]="12" class="note-wrapper">
				<nz-card [nzTitle]="note.title" [nzExtra]="extraTemplate">
					<textarea nz-input [(ngModel)]="note.content" (change)="showModalUpdate(note)" [nzAutosize]="{ minRows: 2, maxRows: 60 }" placeholder="Write your notes here">></textarea>
				</nz-card>
				<ng-template #extraTemplate>
					<button (click)="showDeleteNoteConfirm(note)" class="delete-card"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
				</ng-template>
			</div>
			<div nz-col [nzSpan]="12" class="note-wrapper">
				<nz-card>
					<div class="add-new">
						<i nz-icon nzType="plus" nzTheme="outline" (click)="showModalAdd()" style="font-size: 50px; cursor: pointer"></i>
					</div>
				</nz-card>
			</div>
		</div>
		<nz-modal
			[(nzVisible)]="isVisibleUpdate"
			[nzTitle]="modalTitleUpdate"
			(nzOnCancel)="handleCancelUpdate()"
			(nzOnOk)="handleOkUpdate()"
			[nzOkLoading]="isOkLoadingUpdate"
		>
			<textarea nz-input [(ngModel)]="modalContentUpdate" class="modal-update-content" [nzAutosize]="{ minRows: 2, maxRows: 60 }">{{modalContentUpdate}}</textarea>
		</nz-modal>
		<nz-modal
			[(nzVisible)]="isVisibleAdd"
			nzTitle="Add A New Note"
			(nzOnCancel)="handleCancelAdd()"
			(nzOnOk)="handleOkAdd()"
			[nzOkLoading]="isOkLoadingAdd"
		>
			<nz-select
				style="width: 50%;"
				[(ngModel)]="modalCategoryAdd"
				[(nzOpen)]="isModalCategoryAddDropdownOpen"
				nzPlaceHolder="Select a category"
				nzShowSearch
				nzAllowClear
				[nzDropdownRender]="render"
			>
				<nz-option *ngFor="let c of categories" [nzValue]="c.name" [nzLabel]="c.name"></nz-option>
			</nz-select>
			<ng-template #render>
				<nz-divider style="margin: 4px 0;"></nz-divider>
				<div style="padding: 8px; cursor: pointer" (click)="showModalAddCategory()"><i nz-icon type="plus"></i> Add a new category</div>
			</ng-template>
			<input nz-input [(ngModel)]="modalTitleAdd" placeholder="Your note title">
			<textarea nz-input [(ngModel)]="modalContentAdd" [nzAutosize]="{ minRows: 2, maxRows: 60 }" placeholder="Your note content">></textarea>
		</nz-modal>
		<nz-modal
			[(nzVisible)]="isVisibleAddCategory"
			nzTitle="Add A New Category"
			(nzOnCancel)="handleCancelAddCategory()"
			(nzOnOk)="handleOkAddCategory()"
			[nzOkLoading]="isOkLoadingAddCategory"
		>
			<input nz-input [(ngModel)]="modalContentAddCategory" placeholder="Your category name">
		</nz-modal>
		<div class="delete-category">
			<button
				style="position: absolute"
				nz-button
				nzType="primary"
				nzBlock
				(click)="showDeleteCategoryConfirm()"
			>
				Delete This Category
			</button>
		</div>
	</div>
</div>