<div class="container">
	<div style="padding-top: 30px;">
		<div nz-row [nzGutter]="30">
			<div *ngFor="let note of notes" nz-col [nzSpan]="12" class="card-wrapper">
				<nz-card [nzTitle]="note.title" [nzExtra]="extraTemplate">
					<textarea nz-input [(ngModel)]="note.content" (change)="showModalUpdate(note)" [nzAutosize]="{ minRows: 2, maxRows: 60 }" placeholder="Write your notes here">></textarea>
				</nz-card>
				<ng-template #extraTemplate>
					<button (click)="deleteNote(note)" class="delete-card"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
				</ng-template>
			</div>
			<div nz-col [nzSpan]="12" class="card-wrapper">
				<nz-card>
					<div class="add-new">
						<i nz-icon nzType="plus" nzTheme="outline" (click)="showModalAdd()" style="font-size: 50px; cursor: pointer"></i>
					</div>
				</nz-card>
			</div>
		</div>
		<nz-modal
			[(nzVisible)]="isVisibleUpdate"
			[nzTitle]="modalTitleUpdate"
			(nzOnCancel)="handleCancelUpdate()"
			(nzOnOk)="handleOkUpdate()"
			[nzOkLoading]="isOkLoadingUpdate"
		>
			<p>{{modalContentUpdate}}</p>
		</nz-modal>
		<nz-modal
			[(nzVisible)]="isVisibleAdd"
			nzTitle="Add A New Note"
			(nzOnCancel)="handleCancelAdd()"
			(nzOnOk)="handleOkAdd()"
			[nzOkLoading]="isOkLoadingAdd"
		>
			<input nz-input [(ngModel)]="modalTitleAdd" placeholder="Your note title">
			<textarea nz-input [(ngModel)]="modalContentAdd" [nzAutosize]="{ minRows: 2, maxRows: 60 }" placeholder="Your note content">></textarea>
		</nz-modal>
	</div>
</div>