<div class="container">
	<div style="padding-top: 30px;">
		<div nz-row [nzGutter]="30">
			<div nz-col [nzSpan]="8" class="card-wrapper">
				<nz-card nzTitle="Card title">
					<p>Card content</p>
				</nz-card>
			</div>
			<div nz-col [nzSpan]="8" class="card-wrapper">
				<nz-card nzTitle="Card title">
					<p>Card content</p>
				</nz-card>
			</div>
			<div nz-col [nzSpan]="8" class="card-wrapper">
				<nz-card nzTitle="Card title">
					<p>Card content</p>
				</nz-card>
			</div>
			<div nz-col [nzSpan]="8" class="card-wrapper">
				<nz-card nzTitle="Card title">
					<p>Card content</p>
				</nz-card>
			</div>
			<div nz-col [nzSpan]="8" class="card-wrapper">
				<nz-card nzTitle="Card title">
					<p>Card content</p>
				</nz-card>
			</div>
		</div>
	</div>
</div>