h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.logo {
    color: #ea6f5a;
    font-size: 30px;
    font-weight: 600;
    font-family: serif;
    margin: 30px 20px;
}