<div class="container user">
	<div class="row">
		<nz-upload
			class="avatar-uploader"
			nzAction="/api/avatar"
			nzName="avatar"
			nzListType="picture-card"
			[(nzFileList)]="fileList"
			[nzShowButton]="fileList.length < 1"
			[nzShowUploadList]="showUploadList"
			[nzBeforeUpload]="beforeUpload"
			(nzChange)="handleChange($event)"
			[nzPreview]="handlePreview"
		>
			<i class="upload-icon" nz-icon nzType="plus"></i>
			<div class="ant-upload-text">Upload</div>
		</nz-upload>
	</div>
	<div class="row">
		<button nz-button nzSize="small" nzType="primary" (click)="handleUpload()">Save</button>
		<button nz-button nzSize="small" nzType="default" (click)="reset()">Cancel</button>
	</div>
	<nz-modal
		[nzVisible]="previewVisible"
		[nzContent]="modalContent"
		[nzFooter]="null"
		(nzOnCancel)="previewVisible = false"
	>
		<ng-template #modalContent>
		<img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
		</ng-template>
	</nz-modal>
</div>